<!DOCTYPE html>
<html>
  <head>
    <title>{{ todo_list.name }} - To-Do List Detail</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list.name }}</h1>
        <p>
          <a href="{% url 'todo_list_list' %}">Home Page</a>
          <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
          <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
          <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due date</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            {% for todo_item in todo_items %}
              <tr>
                <td>
                  <div>
                    <a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a>
                  </div>
                </td>
                <td>{{ todo_item.due_date|date:"F d, Y" }}</td>
                <td>{{ todo_item.is_completed }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2">No tasks in this to-do list.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
