<!DOCTYPE html>
<html>
  <head>
    <title>Create a New To-Do List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a New List</h1>
        <p>
          <a href="{% url 'todo_list_list' %}">Home Page</a>
        </p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
